<header>
  <%= image_tag("/assets/strides_logo_1.png") %>
</header>

<div ng-controller="CarouselCtrl">
  <div style="height: 100%">
    <carousel interval="carouselInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
      </slide>

      <%= form_tag(races_path, method: :get) do %>
        <%= select_tag :marathon, options_for_select(["Berlin", "London", "Stockholm", "Paris", "Sydney"]), prompt: 'Select your marathon...' %>
        <%= select_tag :preferred_location, options_for_select(["Start line", "Finish line"]), prompt: 'Preferred location' %>
        <%= select_tag :price, options_for_select([100, 200, 300]), prompt: 'Max price per night' %>
        <span class="input-daterange">
          <%= text_field_tag :arrival, nil, placeholder: 'Arrival', class: 'input-small' %>
          <span class="add-on">to</span>
          <%= text_field_tag :departure, nil, placeholder: 'Departure', class: 'input-small' %>
        </span>
        <%= submit_tag 'Search' %>
      <% end %>

    </carousel>
  </div>
</div>
<

<!-- datepicker rails -->

<script type="text/javascript">
  $(document).ready(function(){
    $('.input-daterange').datepicker();
  })
</script>

<!-- end datepicker rails -->

<!-- Angular carousel template overwrite to prevent pause on mouseover -->
<script id="template/carousel/carousel.html" type="text/ng-template">
        <div ng-mouseenter="" ng-mouseleave="play()" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
    <ol class="carousel-indicators" ng-show="slides.length > 1">
        <li ng-repeat="slide in slides track by $index" ng-class="{active: isActive(slide)}" ng-click="select(slide)"></li>
    </ol>
    <div class="carousel-inner" ng-transclude></div>
    <a class="left carousel-control" ng-click="prev()" ng-show="slides.length > 1"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" ng-click="next()" ng-show="slides.length > 1"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
</script>

<script id="template/carousel/slide.html" type="text/ng-template">
   <div ng-class="{
    'active': leaving || (active && !entering),
    'prev': (next || active) && direction=='prev',
    'next': (next || active) && direction=='next',
    'right': direction=='prev',
    'left': direction=='next'
  }" class="item text-center" ng-transclude></div>
</script>
<!-- end of Angular carousel -->