<div class="full-page">
  <div class="map-menu">
    <h3>Map controls <i class="fa fa-angle-down"></i></h3>
    <nav class="map-controls">
      <p class="start">Go to start line</p>
      <p class="finish">Go to finish line</p>
      <p><i class="fa fa-plus-square"></i> <i class="fa fa-minus-square"></i> Zoom</p>
      <form>
        <input checked type="checkbox" name="route-checkbox" class="route-checkbox" value="Display route">
        <label for="checkbox"><p id="show-route">Show route</p>
      </form>
    </nav>
  </div>
</div>  

<div id='map' 
	data-marathon="<%= params[:marathon] %>"
	data-preferred-location="<%= params[:preferred_location] %>"
  data-price="<%= params[:price] %>"
	data-arrival="<%= params[:arrival] %>"
	data-departure="<%= params[:departure] %>"
></div>

<script type='text/template' class="hotel-info">
  <div class="hotel-info-container">
    <div id="slider1_container">
      <div id="slides" u="slides">
        <div>
          <img class="hotel-photo" src="{{ image1 }}"/>
        </div>
        <div>
          <img class="hotel-photo" src="{{ image2 }}"/>
        </div>
        <div>
          <img class="hotel-photo" src="{{ image3 }}"/>
        </div>
        <div>
          <img class="hotel-photo" src="{{ image4 }}"/>
        </div>
      </div>
      <span u="arrowleft" class="jssora03l" ></span>
      <span u="arrowright" class="jssora03r"></span>
    </div>
    <table class="hotel-header">
      <td class="hotel-name">
        <h3>{{ name }}</h3>
      </td>
      <td class="hotel-rating">
        <p>{{ rating }}</p>
      </td>
    </table>
    <!-- <p>{{ address }}</p> -->
    <table>
      <td class="info">
        <p><b>£{{ price }}</b> per night</p>
        <p><b>£{{ totalPriceFormatted }}</b> for {{ numberOfNights }} nights</p>
        <p><b>{{ minutes }} min</b> walk from start line ({{ km }} km)</p>
        <p>Leave hotel at <b>8:00</b></p>
      </td>
      <td class="amenities">
        <p><img src="{{ tripadvisor_gif }}" width='80px'></p>
        <p><i class="fa fa-heart"></i> {{ gym }}</p>
        <p><i class="fa fa-coffee"></i> {{ breakfast }}</p>
        <p><i class="fa fa-rss"></i> {{ wifi }}</p>
      </td>
    </table>

    <!-- cannot use rails link_to helper because this is a template and it will be the same for each hotel -->
      
    <table>
      <p class="book-hotel">
        <a href="http://www.travelnow.com/templates/464671/hotels/{{ hotel_id }}/overview?apiKey=rthjbmnexf9e6z7863ru5w9n&roomsCount=1&rooms[0].adultsCount=1&checkin=<%= params[:arrival] %>&checkout=<%= params[:departure] %>&currency=GBP&currencySymbol=%C2%A3&lang=en" data-method="post">Book this hotel</a>
      </p>
      <td class="sms">
        <p>
          <% if current_user %>
            <a href="/hotels/{{ id }}/messages?arrival=<%= params[:arrival] %>&departure=<%= params[:departure] %>" data-method='post' style="margin-right:15px;">
          <% else %>
            <a href="/users/sign_in" style="margin-right:15px;">
          <% end %>
              <i class="fa fa-mobile-phone fa-lg"></i>
              SMS me the details 
            </a>
        </p>
      </td>
      <td class="email">
        <p>
          <% if current_user %>
            <a href="/hotels/{{ id }}/mailer?arrival=<%= params[:arrival] %>&departure=<%= params[:departure] %>" data-method='post' class='email-itinerary'>
          <% else %>
            <a href="/users/sign_in" class='email-itinerary'>
          <% end %>
            <i class="fa fa-envelope"></i> 
            Email me the itinerary
          </a>
        </p>
      </td>
    </table>
  </div>
</script>