<div id='map' 
	data-marathon="<%= params[:marathon] %>"
	data-preferred-location="<%= params[:preferred_location] %>"
  data-price="<%= params[:price] %>"
	data-arrival="<%= params[:arrival] %>"
	data-departure="<%= params[:departure] %>"
></div>

<template class="hotel-info">
  <div class="hotel-info-container">
    <div id="slider1_container">
      <div id="slides" u="slides"><div>
        <img class="hotel-photo" src="{{ image1 }}"/>
      </div>
      <div>
        <img class="hotel-photo" src="{{ image2 }}"/>
      </div>
      <div>
        <img class="hotel-photo" src="{{ image3 }}"/>
      </div>
      <div>
        <img class="hotel-photo" src="{{ image4 }}"/>
      </div>
    </div>
    <span u="arrowleft" class="jssora03l" style="width: 55px; height: 55px; top: 105px; left: 8px;"></span>
    <span u="arrowright" class="jssora03r" style="width: 55px; height: 55px; top: 105px; right: 8px"></span>
    </div>
    <h3>{{ name }}<span>★★★★☆</span></h3>
    <!-- <p>{{ address }}</p> -->
    <!-- <p>Rating: {{ rating }}</p> -->
    <table>
      <td class="info">
        <p><b>£{{ priceFormatted }}</b> per night</p>
        <p><b>£{{ totalPriceFormatted }}</b> for {{ numberOfNights }} nights</p>
        <p><b>{{ minutes }} min</b> walk from start line ({{ km }} km)</p>
      </td>
      <td class="amenities">
        <p><i class="fa fa-heart"></i> {{ gym }}</p>
        <p><i class="fa fa-coffee"></i> {{ breakfast }}</p>
        <p><i class="fa fa-rss"></i> {{ wifi }}</p>
      </td>
    </table>
  </div>
</template>