<div class="full-page">
  <div class="map-menu">
    <h3>Map controls <i class="fa fa-angle-down"></i></h3>
    <nav class="map-controls">
      <p class="start">Go to start line</p>
      <p class="finish">Go to finish line</p>
      <p><i class="fa fa-plus-square"></i> <i class="fa fa-minus-square"></i> Zoom</p>
      <form>
        <input checked type="checkbox" name="route-checkbox" class="route-checkbox" value="Display route">
        <label for="checkbox"><p id="show-route">Show route</p>
      </form>
    </nav>
  </div>
</div>  

<div id='map' 
	data-marathon="<%= params[:marathon] %>"
	data-preferred-location="<%= params[:preferred_location] %>"
  data-price="<%= params[:price] %>"
	data-arrival="<%= params[:arrival] %>"
	data-departure="<%= params[:departure] %>"
></div>

<template class="hotel-info">
  <div class="hotel-info-container">
    <div id="slider1_container">
      <div id="slides" u="slides">
        <div>
          <img class="hotel-photo" src="{{ image1 }}"/>
        </div>
        <div>
          <img class="hotel-photo" src="{{ image2 }}"/>
        </div>
        <div>
          <img class="hotel-photo" src="{{ image3 }}"/>
        </div>
        <div>
          <img class="hotel-photo" src="{{ image4 }}"/>
        </div>
      </div>
      <span u="arrowleft" class="jssora03l" ></span>
      <span u="arrowright" class="jssora03r"></span>
    </div>
    <table class="hotel-header">
      <td class="hotel-name">
        <h3>{{ name }}</h3>
      </td>
      <td class="hotel-rating">
        <p>{{ rating }}</p>
      </td>
    </table>
    <!-- <p>{{ address }}</p> -->
    <table>
      <td class="info">
        <p><b>£{{ price }}</b> per night</p>
        <p><b>£{{ totalPriceFormatted }}</b> for {{ numberOfNights }} nights</p>
        <p><b>{{ minutes }} min</b> walk from start line ({{ km }} km)</p>
      </td>
      <td class="amenities">
        <p><i class="fa fa-heart"></i> {{ gym }}</p>
        <p><i class="fa fa-coffee"></i> {{ breakfast }}</p>
        <p><i class="fa fa-rss"></i> {{ wifi }}</p>
      </td>
    </table>

    <% if current_user %>
      <table class="sms">
        <!-- cannot use rails link_to helper because this is a template and it will be the same for each hotel -->
        <td><p><a href="/hotels/{{ id }}/messages?arrival=<%= params[:arrival] %>&departure=<%= params[:departure] %>" data-method='post'>SMS me the details</a></p></td>
      </table>
      <table class="email">
        <!-- cannot use rails link_to helper because this is a template and it will be the same for each hotel -->
        <td><p>
          <a href="/hotels/{{ id }}/mailer?arrival=<%= params[:arrival] %>&departure=<%= params[:departure] %>" data-method='post'>Email itinerary</a>
        </p></td>
      </table>
    <% end %>

  </div>
</template>