<div class="map-menu">
  <h3>Map controls</h3>
  <nav class="map-controls">
    <p class="start">Take me to start line</p>
    <p class="finish">Take me to finish line</p>
  </nav>
</div>

<div id='map' 
	data-marathon="<%= params[:marathon] %>"
	data-preferred-location="<%= params[:preferred_location] %>"
  data-price="<%= params[:price] %>"
	data-arrival="<%= params[:arrival] %>"
	data-departure="<%= params[:departure] %>"
></div>

<template class="hotel-info">
  <div class="hotel-info-container">
    <div id="slider1_container">
      <div id="slides" u="slides">
        <div>
          <img class="hotel-photo" src="{{ image1 }}"/>
        </div>
        <div>
          <img class="hotel-photo" src="{{ image2 }}"/>
        </div>
        <div>
          <img class="hotel-photo" src="{{ image3 }}"/>
        </div>
        <div>
          <img class="hotel-photo" src="{{ image4 }}"/>
        </div>
      </div>
      <span u="arrowleft" class="jssora03l" ></span>
      <span u="arrowright" class="jssora03r"></span>
    </div>
    <table class="hotel-header">
      <td class="hotel-name">
        <h3>{{ name }}</h3>
      </td>
      <td class="hotel-rating">
        <p>{{ rating }}</p>
      </td>
    </table>
    <!-- <p>{{ address }}</p> -->
    <!-- <p>Rating: </p> -->
    <table>
      <td class="info">
        <p><b>£{{ price }}</b> per night</p>
        <p><b>£{{ totalPriceFormatted }}</b> for {{ numberOfNights }} nights</p>
        <p><b>{{ minutes }} min</b> walk from start line ({{ km }} km)</p>
      </td>
      <td class="amenities">
        <p><i class="fa fa-heart"></i> {{ gym }}</p>
        <p><i class="fa fa-coffee"></i> {{ breakfast }}</p>
        <p><i class="fa fa-rss"></i> {{ wifi }}</p>
      </td>
    </table>
  </div>
</template>