<div id="dot-matrix"></div>
<div class="background">
  <div class="user-container">
		<h2>Forgot your password?</h2>
    <p><%= notice %></p>
    <p><%= alert %></p>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, autofocus: true, class: 'forgot-email' %></div>

		  <div><%= f.submit "Send me the email", class: 'signup-button' %></div>
		<% end %>

		  <p>An email will sent with reset password instructions</p>
		

		<%= render "devise/shared/links" %>
	</div>
</div>

<script>
$(document).ready(function(){

      $('.signup-button').click(function(event){
        var email = document.forms["new_user"]["user_email"].value;

        // a popup appears if the email is empty
        if (email == "") {
          event.preventDefault();
          $('.forgot-email').notify(
            "Please enter your email", 
            { position:"right" }
          );
        }

      }); // $('.signup-button').click(function(event){

  }) // document ready
</script>
