<p>Dear <%= @user.name %>,</p>

<p>Here is your STRIDES itinerary</p>
<h2><%= @hotel.name %></h2>

<p><%= @hotel.address %>, <%= @hotel.city %></p>
<p>Check in: <%= @arrival %></p>
<p>Check out: <%= @departure %></p>

<p>Wishing you an injury free training cycle!</p>
<p>The Strides Team</p>